<div id="<%= dom_id house %>">
  <p>
    <strong>Date:</strong>
    <%= house.date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= house.state %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= house.seat %>
  </p>

</div>
