<h1 style="color:white;text-align:center;">Welcome to the Let's Talk Elections Discord Election Dashboard!</h1>
<div class="d-flex flex-row">
    <div class="card p-1" style="width: 35rem;">
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
    </div>
    <div class="card p-1" style="width: 35rem;">
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
    </div>
    <div class="card p-1" style="width: 35rem;">
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
    </div>
</div>
<div class = "d-flex flex-row">
    <div class="card p-1" style="width: 35rem;">
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
    </div>
    <div class="card p-1" style="width: 35rem;">
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
    </div>
</div>
