<div class="container page">
    
    <div class="row">

        <div class="col-md-12">
            <%= render "common/state_of_the_race" %>
            
        </div>

    </div>
</div>

<!-- HOW TO USE JS IN THIS CURSED ASS FRAMEWORK -->
<script src="/test.js"></script>
