<div class="container page">
    
    <div class="row">

        <div class="col-md-12">
            <div class="card borderless">
                <h2>2024 Presidential Forecast</h2>
                <p>Forecast last updated on 3/1/2024 at 5:00PM</p>
            </div>
        </div>

    </div>



    <!--<div class="d-flex flex-row">
        <div class="card p-1" style="width: 35rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
        </div>
        <div class="card p-1" style="width: 35rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
        </div>
        <div class="card p-1" style="width: 35rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
        </div>
    </div>
    <div class = "d-flex flex-row">
        <div class="card p-1" style="width: 35rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
        </div>
        <div class="card p-1" style="width: 35rem;">
            <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
        </div>
        <div class="card p-1" style="width: 35rem;">
            <%= link_to "races/predictions" do %>
                <%= image_tag "FebruaryPresidentialPrediction.png",  class: "card-img-top" %>
                <h1 class = "text-white">February: GOP 257 - DEM 281</h1>
            <% end %>
        </div>
    </div>-->

</div>


<!-- HOW TO USE JS IN THIS CURSED ASS FRAMEWORK -->
<script src="/test.js"></script>
