<div id="<%= dom_id senate %>">
  <p>
    <strong>Date:</strong>
    <%= senate.date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= senate.state %>
  </p>

  <p>
    <strong>Senate class:</strong>
    <%= senate.senate_class %>
  </p>

</div>
