$header-font: "muli", "open-sans", sans-serif;
$body-font: "open-sans", sans-serif;

$color-dark-gray: #111111;
$color-gray: #202020;
$color-white: #ffffff;
$color-red: #B6262D;
$color-blue: #3030FF;
$color-yellow: #FFDF00;

$text-color: $color-white;

$text-size-large: 36px;
$text-size-header: 24px;
$text-size-subheader: 16px;
$text-size-normal: 14px;
$text-size-small: 9px;

$container-width: 1200px;

* {
    font-family: $body-font;
    color: $text-color;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: $color-dark-gray !important;
    margin-top: 50px;
}
h1,h2,h3,h4,h5,h6 {
    @extend .header;
    margin: 0;
    padding: 0;
}

h1 {
    @extend .header-large;
}
h2 {
    @extend .header;
    font-size: $text-size-header;
}
h3 {
    @extend .subheader;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: block;
    margin: 0 auto;

    &.page {
        margin-top: 2em;
    }
}

.text {
    font-family: $body-font;
    color: $text-color;
    font-size: $text-size-normal;
    font-weight: normal;
    text-transform: none;
}

p {
    @extend .text;
    margin: 0;
}

.header {
    font-family: $header-font;
    color: $text-color;
    font-size: $text-size-header;
    font-weight: 800;
    text-transform: uppercase;
}

.header-large {
    @extend .header;
    font-size: $text-size-large;
}

.subheader {
    @extend .header;
    font-size: $text-size-subheader;
    font-weight: 600;
}

nav {
    background-color: $color-gray;
    z-index: 1;
    position: fixed !important;
    width: 100%;
    top: 0;

    box-shadow: 0px 0px 15px $color-dark-gray;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.dropdown-arrow {
    content: "";
    display: block;
    //background-color: $text-color;
    position: relative;
    width: 0.5em;
    height: 0.5em;
    top: -0.3em;
    left: 0.5em;

    border-width: 0 0 3px 3px;
    border-style: solid;
    border-color: $text-color;

    transform: rotate(-45deg);
}
.nav-item-bottom-border {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: white;

    transition: 150ms ease;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    min-width: 100%;
    background: $color-gray;
    margin: 0;
    padding: 8px 0 1em 0;
    border-radius: 0 0 1em 1em;

    list-style-type: none;

    li {
        
        text-align: left;
        transition: 50ms ease;
        
        a {
            @extend .subheader;

            display: block;
            font-size: $text-size-normal;
            
            text-decoration: none;
            padding: 0.5em 2em;
            transition: 50ms ease;
            color: $text-color !important;
        }

        &:hover {
            background: $text-color;
            * {
                color: $color-gray !important;
            }
            
        }
    }
}

.hidden {
    display: none;
}
.nav-item {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        @extend .nav-item-bottom-border;
    }
    

    &:hover {
        
        &:not(.nav-item-logo)::before {
            width: calc(100% - 1em);
            left: 0.5em;
        }

        .dropdown-list {
            display: block;
        }

        &:not(.nav-no-click){
            cursor: pointer;
        }
    }

    padding: 0 1em;
    &.dropdown {

        &::after {
            @extend .dropdown-arrow;
        }

        &:hover .dropdown-list {
            display: block;
        }

    }

}
.nav-item > * {
    @extend .subheader;
    text-align: center;
    text-decoration: none !important;
    color: $text-color !important;
    font-size: $text-size-normal;
}

.nav-item-logo {
    height: 3em;
    img {
        width: 5em;
        transform: translateY(-0.45em);
    }
}
.card {
    border: 1px solid $color-gray;
    border-radius: 1em;
    display: block;
    padding: 1em;
    &.borderless {
        border: none;
    }
}

.footer-list {
    list-style-type: none;
    padding: 0;
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;

    li {
        @extend .text;
        * {
            color: $text-color !important;
        }
    }
}

.footer-bottom {
    background-color: $color-dark-gray;
    text-align: center;
    padding: 1em 0;
}

.bottom-bars {
    display: block;
    padding: 0;
    margin: 0;

    > div {
        display: block;
        width: 100%;
        height: 5px;
    }

    :nth-child(1){
        background-color: $color-red;
    }
    :nth-child(2){
        background-color: $color-white;
    }
    :nth-child(3){
        background-color: $color-blue;
    }
}

.sotr {
    display: flex;
    width: 100%;
    justify-content: center;
    > * {
        float: left;
    }
    margin-top: 1rem;
}

.sotr-states {
    display: grid;
    grid-template-columns: repeat(13, 2rem);
    grid-template-rows: repeat(4, 2rem);
    grid-gap: 0.5em;
    grid-auto-flow: column;
    padding: 0 0.5rem;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    
}

.sotr-state {
    @extend .subheader;
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    position: relative;

    

    &.sotr-small {
        font-size: $text-size-small;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &.sotr-tipping {
        border: 3px solid $color-yellow;
        box-shadow: 0 0 15px 5px $color-yellow;
    }
}

.sotr .sotr-candidate {
    width: 200px;
    height: 12rem;
    background: $color-gray;
    .sotr-background {
        height: 7rem;

        img {
            width: 75%;
            position: relative;
            display: block;
            top: calc(7rem - 150px);
            margin: auto;
        }
    }

    &:nth-of-type(1) {

        border-radius: 1em 0 0 1em;

        .sotr-background {
            background: linear-gradient(45deg, $color-gray, $color-blue 50%);
            border-top-left-radius: 1em;
        }
    }

    &:nth-of-type(3) {

        border-radius: 0 1em 1em 0;

        .sotr-background {
            background: linear-gradient(-45deg, $color-gray, $color-red 50%);
            border-top-right-radius: 1em;
        }

    }
}

.sotr-bar {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 15;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 3em;
        width: 3px;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

h1#forecastLogo img {
    height: 1.25em;
    margin-top: -0.6em;
}

.btn-primary {
    @extend .subheader;
    font-weight: 800;

    border: none;
    background-color: $color-blue;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    padding: 0.5em 1em;

    span::before {
        content: "";
        left: 50%;
        top: 0;
        position: absolute;
        display: block;
        background-color: $color-white;
        width: 0px;
        height: 100%;
        transition: 150ms ease-out;
        border-radius: 10px;
        z-index: -1;
    }

    &:hover, &:focus {
        color: $color-dark-gray !important;
        

        span::before {
            width: 100%;
            left: 0;
        }
    }
}