<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h1>New governor</h1>

    <%= render "form", governor: @governor %>

    <br>

    <div>
      <%= link_to "Back to governors", governors_path %>
    </div>

  <% else %>
    <div class="text-center text-white">
      <h1>Oops! You are not authorized to view this page! Sorry, please return to the page you were previously on!</h1>
  <% end %>
<% end %>
