<div class="container page">

  <p style="color: green"><%= notice %></p>

  <h1 class="text-white" style=" width:50%; margin-left: auto; margin-right: auto;">Miscellaneous Races</h1>


  <div id="miscs">
    <% @miscs.each do |misc| %>
      <%= render misc %>
      <p>
        <%= link_to "Show this misc", misc %>
      </p>
    <% end %>
  </div>

  <% link_to "New misc", new_misc_path %>
</div>