<div class="row ">

<div class="col-md-5">
    <div class="results-box mt-3">

        <div class="results-header">

            <img src="https://imagedelivery.net/ilUJ6Cy8nNz2i8r1DPuCPg/3f1f3a49-f014-4257-c2ba-9334d5b33200/public"/>

            <div class="results-candidate-name">
                <h2>Brown</h2>
                <p>Projected Winner</p>
            </div>

            <div class="results-candidate-totals">
                <h2>56.75%</h2>
                <p>5,404,393</p>
            </div>
        </div>

        <div class="results-bar">
            <p class="font-bold">2024 ELECTION: OHIO SENATE</p>
        </div>

        <div class="results-bar gray unpadded">

            <table class="results-table">

                <tr>
                    <th></th>
                    <th>Candidate</th>
                    <th>%</th>
                    <th>Votes</th>
                </tr>

                <tr class="results-candidateTable bg-blue">
                    <td></td>
                    <td data-type='name'>
                        <span>Sherrod Brown</span><br/>
                        <span><i>Democrat</i></span>
                    </td>
                    <td data-type='percent'>56.75%</td>
                    <td data-type='votes'>5,404,393</td>
                </tr>

                <tr class="results-candidateTable bg-red">
                    <td></td>
                    <td data-type='name'>
                        <span>Jim Renacci</span><br/>
                        <span><i>Republican</i></span>
                    </td>
                    <td data-type='percent'>43.25%</td>
                    <td data-type='votes'>4,118,766</td>
                </tr>

                <tr class="results-candidateTable bg-dark-gray">
                    <td></td>
                    <td data-type='name'>
                        <span>Sunset Coda</span><br/>
                        <span><i>Independent</i></span>
                    </td>
                    <td data-type='percent'>0.01%</td>
                    <td data-type='votes'>26</td>
                </tr>

                <tr class="results-candidateTable bg-dark-gray">
                    <td></td>
                    <td data-type='name'>
                        <span>All Other Candidates</span><br/>
                        <span><i>&nbsp;</i></span>
                    </td>
                    <td data-type='percent'>0.01%</td>
                    <td data-type='votes'>21</td>
                </tr>
            </table>

        </div>

        <div class="results-bar gray">

            <div class="results-reporting-bar mt-1">
                
                <div class="results-reporting-progress" style="width: 85%;">
                </div>
                <span>85% Reporting</span>
            </div>

            <div class="results-reporting-context">
                <p style="float: left;">Last updated at 3:05PM ET</p>
                <p style="float: right;">~6,800,000 votes expected</p>
            </div>

        </div>

        <div class="results-math px-5 py-3">
            <p>Unimplemented: Napkin Math goes here!</p>
            <h2>Hello World!</h2>
        </div>
    </div>

</div>




</div>