<!-- Remove the container if you want to extend the Footer to full width. -->
<div style="margin-top:auto">

  <footer class = "mt-3" style="background-color: #171717;">
    <div class="container pt-4 text-white">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h5 class="mb-3">Developed by <b>SwiftlySalted</b></h5>
          <p>
            Lots of consultation and assistance was given by Aspect (Developer), Toadally (Web Developer) and SunsetCoda (Graphics Designer) 
            from the LTE Discord Server. Huge thanks to them in helping create this website.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3 ">LTE Decision Desk</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              SwiftlySalted
            </li>
            <li class="mb-1">
              SunsetCoda
            </li>
            <li class="mb-1">
              Toadally
            </li>
            <li class="mb-1">
              Mxchael.
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-1 ">LTE Socials</h5>
          <table class="table">
            <tbody>
              <tr>
                <td><a href="https://www.discord.gg/LTE" target="_blank" style="color: #f4f4f4;">Discord</a></td>
                <td>TBD</td>
              </tr>
              <tr>
                <td><a href="https://twitter.com/LTElections" target="_blank" style="color: #f4f4f4;">Twitter</a></td>
                <td><a href="https://www.youtube.com/@LetsTalkElections" target="_blank" style="color: #f4f4f4;">YouTube</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center p-2 mt-2 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      Let's Talk Elections - Not sponsored by Ethan, developed solely by friends of Ethan and his channel
    </div>

    <!-- Copyright
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    Copyright -->
  </footer>
  
</div>
<!-- End of .container -->