<!-- Remove the container if you want to extend the Footer to full width. -->
<div style="margin-top:auto">

  <footer class = "mt-3" style="background-color: #171717;">
    <div class="container pt-4 pb-2">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <h3>Let's Talk Elections</h3>
          <p>
            Developed by SwiftlySalted with assistance from
            Aspect, Toadally, and Sunset Coda
          </p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h3>Social Media</h3>
          <ul class="footer-list">
            <li><a href="https://www.youtube.com/letstalkelections" target="_blank"><i class="fa-brands fa-youtube"></i>&nbsp;@LetsTalkElections</a></li>
            <li><a href="https://twitter.com/LTElections" target="_blank"><i class="fa-brands fa-twitter"></i>&nbsp;@LTElections</a></li>
            <li><a href="https://discord.gg/lte" target="_blank"><i class="fa-brands fa-discord"></i>&nbsp;Discord Server</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h3>LTE Decision Desk</h3>
          <ul class="footer-list">
            <li><i class="fa-brands fa-discord"></i>&nbsp;swiftlysalted</li>
            <li><i class="fa-brands fa-discord"></i>&nbsp;sunsetcoda</li>
            <li><i class="fa-brands fa-discord"></i>&nbsp;mxchael.</li>
            <li><i class="fa-brands fa-discord"></i>&nbsp;toadally</li>

          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Let's Talk Elections - Not sponsored by Ethan Kelly</p>
    </div>

    <div class="bottom-bars">
      <div class="bottom-bar"></div>
      <div class="bottom-bar"></div>
      <div class="bottom-bar"></div>
    </div>

    <!-- Copyright
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    Copyright -->
  </footer>
  
</div>
<!-- End of .container -->